/* Author Style */
body {
	background: url(../images/background-tile.png) repeat 0 0;
	font-family: 'PT Sans', sans-serif;
}

.header {
	position: relative;
	padding: px 0;
}

.logo a {
 	display: block;
 	width: 213px;
 	height: 60px;
 	background: url(../images/atyourservice-logo.png) no-repeat 0 0;
 	text-indent: -9999px;
}

.user-options {
	position: absolute;
	right: 0;
	top: 30px;
	width: 320px;
}


.navbar {
	margin: 0;
}

.navbar-inner {
	background: #4782e4;
	box-shadow: none;
	border: none;
	border-radius:0;
}

.navbar .container {
	width: 1170px;
}

.navbar .nav > li > a {
	text-shadow:none;
	color: #ffffff;
	font-family: 'Muli', sans-serif;
	font-size: 12px;
}

.search-container {
	background: url(../images/bgimg.jpg) no-repeat center -100px fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 490px;
}

.search-container h2 {
	color: #fff;
	font-size: 42px;
	text-shadow:0 3px 2px #3f312d;
	padding:80px 70px 50px 100px;
	line-height: 1.1em;
}

.search-container .quote-home {
	color: #fff;
	border: none;
	font-weight: bold;
	font-size: 30px;
	margin: 0;
	padding: 0 100px 10px 100px;
	text-shadow:0 3px 2px #3f312d;
	line-height: 1.1em;
	background: url(../images/linequote.png) no-repeat 360px 100%;
}

.scaffold-create {
	background: #ffffff;
	border-radius: 3px 3px 0 0;
	width: 410px;
	border-bottom: 5px solid #4884e7;
	margin-top: 100px;
	margin-left: 50px;
}

.searchform {
	width: 370px;
	margin: 0 auto;
	padding: 20px 0;
}

.searchform .fieldcontain {
	padding: 5px 0;
}

.sub-content {
	position: relative;
}

.sub-content h3 {
	text-align: center;
	color: #4884e7;
	font-size: 28px;
}

.circular-menu {
	list-style-type: none;
	text-align: center;
}

.circular-menu li {
	display: inline-block;
	width: 150px;
	padding: 20px 0;
}

.circle-icon {
	background-color: #d1d1d1;
	width: 135px;
	height: 135px;
	border-radius: 100px;
	margin: 10px auto;
	cursor: pointer;
	display: block;
	-webkit-transition: background-color 0.5s ease;
  	-moz-transition: background-color 0.5s ease;
  	-ms-transition: background-color 0.5s ease;
  	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.circle-icon:hover {
	background-color: #4884e7;
}

.circle-icon img {
	margin-top: 35px;
}

.circular-menu  li h4 {
	color: #d1d1d1;
	text-align: center;
}

footer {
	height: 130px;
	background: rgba(229,229,229,.2);
}

.footer {
	position: relative;
}

.footer-logo {
	display: block;
	width: 178px;
	height: 50px;
	background: url(../images/atyourservice-logo-footer.png) no-repeat 0 0;
	text-indent: -9999px;
	position: absolute;
	right: 0;
	top: 20px;
}

.copyright {
	font-size: 11px;
	color: #929292;
	padding-top: 40px;
}