/* Author Style */
body {
	background: url(../images/background-tile.png) repeat 0 0;
	font-family: 'PT Sans', sans-serif;
}

.header {
	position: relative;
	padding: 20px 0;
}

.logo a {
 	display: block;
 	width: 213px;
 	height: 60px;
 	background: url(../images/atyourservice-logo.png) no-repeat 0 0;
 	text-indent: -9999px;
}

.user-options {
	position: absolute;
	right: 0;
	top: 50px;
	width: 320px;
}

.user-options a {
	padding: 0 20px;
}

.navbar-inner {
	background: #4782e4;
	box-shadow: none;
	border: none;
	border-radius:0;
}

.navbar .container {
	width: 1170px;
}

.navbar .nav > li > a {
	text-shadow:none;
	color: #ffffff;
	font-family: 'Muli', sans-serif;
	font-size: 12px;
}